# local package
-e .

# external requirements
click
Sphinx
python-dotenv>=0.5.1
pytest
tox
matplotlib
sklearn
numpy
scipy
pandas
flask
flask_restful
httpie
opencv-python
mediapipe
PyYAML
