.sidebar-heading {
    border-bottom: solid 1px #d9dadb;
}


header {
    border-bottom: solid 1px #d9dadb !important;
} 

.header-items-container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    padding-right: 35px;
    display: block;
    float: left;
    /* background: purple; */
    height: calc(100% - 10px);;
    width: 890px;
    margin-left: 15px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-group-item {
    background-color: #5a7075 !important;
    border-bottom: solid 1px #d9dadb !important;
    color: white !important;
}

.list-group-item:hover {
    color: #5aba47 !important;
}

.container {
    margin-top: 25px;
    width: 100% !important;
    padding: 10px;
}

.widget-container {
    background-color: #5a7075;
    border: solid 1px #d9dadb !important;
    height: 225px;
    padding: 10px;
}

.widget-item {
    background-color: white;
    border: solid 1px #d9dadb !important;
    height: 100%;
    padding: 10px;
}


.popup{
    /*visibility: hidden;*/
    display: none;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
/*    width: 25%;
    height: 25%;*/
}

.popup select, .popup h1{
    text-align: center;
}
.popup input{
    text-align: left;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.inputRow{
    text-align:center;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* The following styles came from the origianl template, TODO: integrate them into custom styles */
body {
    overflow-x: hidden;
}

.content-container{
    /* height: 100%; */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.contentLabel {
    font-weight: bold;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
background-color: #5a7075 !important;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    background-color: #5a7075 !important;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
}
}


table {
    width: 100%;
    height: 100%;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
}
  
  
td, tr, th {
    border: solid 0.3px black;
}

tr:hover{
    background-color:#ccc; ;
    filter: brightness(70%);
}


th {
    position: sticky;
    top: 0;
    background-color: #ccc;
    border: solid 1px black;
}

thead {
    text-align: center;
}

.selectCell{
    text-align: center;
}

.pending, .pending:focus{
    border: solid 2px orange;
    filter: brightness(70%);
    outline: none;
}

.updated, .update:focus{
    border: solid 2px green;
    outline: none;
}
