.task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
}

.int-input{
    width: 10%;
    text-align: center;
}

.row div{
    margin-top:10px;
    padding: 20px;
    outline: 2px solid #ccc;
    outline-offset: -20px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
}

.col-sm {
    padding: 20px;
}

.col-sm h1{
    text-align: center;
}

.expandingList {
    padding-left: 10%;
}